 <!DOCTYPE html>
<html>
<!-- export to github: ctl + shift + e -->
   <head>
      <title>url-shortener-microservice-mahesh Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div style="text-align: left" class="container">
         <h1>API Basejump: URL Shortener Microservice</h1>
         <h3>Free Code Camp Backend Challenge by Mahesh</h3>
        
        <h4>User Stories:</h4>
      <ol>
          <li>
           I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
          </li>
          <li>
          When I visit that shortened URL, it will redirect me to my original link.
          </li>
        <li>
         If I pass an invalid URL that doesn't follow the valid <a href="http://www.example.com">http://www.example.com</a> format, the JSON response will contain an error instead
        </li>
         <li>
        Extra: If I enter a saved URL or saved shortened URL, it will fatch saved URL or redirect me to saved link
        </li>
        </ol>
            
        <p>
          <h3>Example Creation Usage</h3>
        <code><div>
          https://smallurl.glitch.me/https://www.google.com</div></code>
        <code><div>
          https://smallurl.glitch.me/http://foo.com:80
          </div></code></p>
     <p>
        <h3>Example Creation Output</h3>
        <code>
        { "original_url":"http://trial.upavadi.net", "short_url":"https://smallurl.glitch.me/8317" }
        </code>
     </p>
      <p>
        <h3>Usage</h3>
        <code>
        https://smallurl.glitch.me/9117
        </code>
     </p>
      <p>
        <h3>Will Direct to:</h3>
        <code>
        https://www.google.com/
        </code>
     </p>   </div>
   </body>

</html>
